*{
    box-sizing: border-box;
}

.row3{
    background-color: rgb(6, 74, 169);
}

/*header*/
#myHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(6, 74, 169);
    /* margin-bottom: 50px; */
}

/*logo*/
.title_logo{
    margin-bottom: 0px;
    font-size: 20px;
    text-align: center;
}

/*thanh tìm kiếm*/
.search{
    border: 1px solid rgb(4, 47, 108);
    width: 80%;
    height: 40px;
    background-color: white;
    border-radius: 75px;
    display: grid;
    grid-template-columns: 85% 15%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 40px;
}
.input {
    border: none;
    height: 38.5px;
    border-top-left-radius: 17.5px;
    border-bottom-left-radius: 17.5px;
    background-color: white;
    padding: 15px 20px;
    font-size: 15px;
        /* transition: width 0.3s ease; */
}
    
.input::placeholder {
    color: gray;
}
    
.search.active .input {
    width: 400px;
}
.button_search {
    height: 38.75px;
    padding: 5px 5px;
    border-top-right-radius: 17.5px;
    border-bottom-right-radius: 17.5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none;
    background: rgb(232, 161, 62);
    /* transition: transform 0.3s ease; */
}
.button_search:hover{
    background-color: gray;
}   
/* .search.active .button_search {
    transform: translateX(300px);
} */

/*icon*/
.fa-solid {
    color: #ffffff;
}

/*bên phải thanh tìm kiếm*/
.list_header{
    display: grid;
    grid-template-columns:30% 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.icon {
    border-radius: 50%;
    background-color: rgb(232, 161, 62);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.text_header{
    /* float: right; */
    font-size: 13px;
    color: white; 
    text-align: center;
}
.text_header p,a{
    margin-bottom: 0px;
    font-weight: bold;
}




/*liên kết*/
a{
    text-decoration: none;
    color: white;
}
.text_header a:hover{
    color: dodgerblue;
    text-decoration: underline;
}

/*footer*/
.row3{
    font-size: 15px;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
h2{
    color: rgb(232, 161, 62);
    padding-bottom: 40px;
}
.title_logo_footer{
    margin-top: -30px;
    padding-bottom: 0px;
    color: white;
}

/*tên trang web cạnh logo*/
.title_logo{
    padding-bottom: 0px;
}
footer{
    margin-top: 500px;
}


/*MAIN*/
.row2{
    background-image: url(../../anh/background.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.dn{
    margin: 70px auto;
    border: 2px solid gray;
    border-radius: 25px;
    background-color: white;
    max-width: 40%;
}

.title_form{
    margin-top: 15px;
    margin-bottom: 50px;
    text-align: center;
}

label{
    width: 90%;
    margin-bottom: 25px;
    padding-left: 35px;

}
label p{
    margin-bottom: 10px;
}
label input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(206, 197, 197);
    background: transparent;
    outline: none;
}
.dang_ky{
    text-align: center;
}

#button{
    border-radius: 20px;
    background-color: dodgerblue;
    padding: 10px;
    margin-bottom: 40px;
}

.nut{
    text-align: center;
}

#button:hover{
    background-color: rgb(206, 197, 197);
}
#link:hover{
    text-decoration: underline dodgerblue;
}


#vien{
    width: 100%;
    position: relative;
}
.appear{
    position: absolute;
    border-bottom: 2px solid dodgerblue;
    width: 0%;
    left: 0;
    top: 0px;
    transition: 0.3s;
}
.form input:focus ~ #vien .appear{
    width: 100%;
}

/*Nút quay lại trang*/
#btn_gtt{
    color: dodgerblue;
    font-size: 3.5em;
    right: 25px;
    position: fixed; /*để nó giữ nguyên vị trí nhưng vẫn chồng được lên các phần tử khác*/
    bottom: 40px;
    display: none;
}
#btn_gtt:hover{
    color: rgb(240, 177, 104);
}
#btn_gtt{
    display: block;
}
/* #btn_bt i{
    color: dodgerblue;
    font-size: 3.5em;
    right: 25px;
    position: fixed;
    bottom: 40px;
    display: none;
}
#btn_bt a i:hover{
    color: rgb(240, 177, 104);
}
#btn_bt a{
    display: block;
} */
