*{
   box-sizing: border-box;
}

.row{
   background-color: rgb(6, 74, 169);
}

/*header*/
#row1{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 0px;
   padding-right: 0px;
}

/*logo*/
.title_logo{
   margin-bottom: 0px;
   font-size: 20px;
}

/*thanh tìm kiếm*/
.search{
   border: 1px solid rgb(4, 47, 108);
   width: 80%;
   height: 40px;
   background-color: white;
   border-radius: 75px;
   display: grid;
   grid-template-columns: 85% 15%;
   margin-left: 20px;
}
.input {
   border: none;
   height: 38.5px;
   border-top-left-radius: 17.5px;
   border-bottom-left-radius: 17.5px;
   background-color: white;
   padding: 15px 20px;
   font-size: 15px;
       /* transition: width 0.3s ease; */
}
   
.input::placeholder {
   color: gray;
}
   
.search.active .input {
   width: 400px;
}
.button_search {
   height: 38.5px;
   padding: 5px 5px;
   border-top-right-radius: 17.5px;
   border-bottom-right-radius: 17.5px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   border: none;
   background: rgb(232, 161, 62);
   /* transition: transform 0.3s ease; */
}
.button_search:hover{
   background-color: gray;
}   
/* .search.active .button_search {
   transform: translateX(300px);
} */

/*icon*/
.fa-solid {
   color: #ffffff;
}

/*bên phải thanh tìm kiếm*/
.list_header{
   display: grid;
   grid-template-columns:30% 70%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 20px;
}
.icon {
   border-radius: 50%;
   background-color: rgb(232, 161, 62);
   width: 30px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 10px;
}
.text_header{
   /* float: right; */
   font-size: 13px;
   color: white; 
   text-align: center;
}
.text_header p,a{
   margin-bottom: 0px;
   font-weight: bold;
}



/*liên kết*/
a{
   text-decoration: none;
   color: white;
}

.text_header a:hover{
   color: dodgerblue;
   text-decoration: underline;
}

#ls:hover{
   color: white;
   text-decoration: underline;
}

/*footer*/
.row3{
   font-size: 15px;
   color: white;
   text-align: center;
   padding-top: 30px;
   padding-bottom: 40px;
}
h2{
   color: rgb(232, 161, 62);
   padding-bottom: 40px;
}
.title_logo_footer{
   margin-top: -30px;
   padding-bottom: 0px;
   color: white;
}

/*tên trang web cạnh logo*/
.title_logo{
   padding-bottom: 0px;
}
footer{
   margin-top: 500px;
}



/*main*/
.container{
   text-align: center;
}

.row2{
   background-color: white;
   border: none;
   margin-bottom: 30px;
}

/*Nút quay lại trang*/
#btn_bt i{
   color: dodgerblue;
   font-size: 3.5em;
   right: 25px;
   position: fixed;
   bottom: 40px;
   display: none;
}
#btn_bt a i:hover{
   color: rgb(240, 177, 104);
}
#btn_bt a{
   display: block;
}
/* ----------------product---------- */
.rownhieu {
   display: flex;
   /* flex-wrap: wrap; */
}
.product {
   padding: 50px;
 
}


.product-content-left{
   width: 50%;
   border: 1px solid black;
   border-radius: 20px;
}
.product-content-left-big-img {
   width: 80%;
   padding-right: 20px;
   
}
.product-content-left-big-img img {
   max-width: 100%;
   height: auto;
   border-radius: 20px 0 0 20px;
   
}
.product-content-left-small-img {
   width: 20%;
   padding-top: 40px;
}
.product-content-left-small-img img {
   width: 100%;
}


.product-content-right {
   width: 50%;
   padding-left: 20px;
   padding-top: 20px;
}
.product-content-right-name h1 {
   /* font-family: var(--main-text-font); */
   font-size: 40px;
   font-family: "Arial", sans-serif;
   color: rgb(6, 74, 169);
}
.product-content-right-name p {
   color: gray;
}
.product-content-right-price {
   margin: 12px 0;
   font-size: 30px;
   font-weight: bold;
   font-family: var(--main-text-font);
   color: red;
   text-decoration: underline;
}
.product-content-right-color img {
   width: 35px;
   height: 35px;
 
}
.quantity {
   /* display: flex; */
   margin-top: 10px;
   /* padding-left: 60px; */
}
.quantity input {
   width: 40px;
   height: 25px;
   padding-left: 3px;
}
.product-content-right-button{
   display: flex;
   justify-content: space-around;
}
.product-content-right-button button {
   width: 200px;
   height: 40px;
   line-height: 30px;
   display: inline-block;
   /* margin: 20px 0 12px ; */
   transition: all 0.3s ease;
}
.product-content-right-button button i{
   line-height: 30px;
}
.product-content-right-button button:first-child {
   display: flex;
   justify-content: space-evenly;
   background-color: #ffffff;
   border: 2px solid black;
   cursor: pointer; 
}
.product-content-right-button button:first-child:hover{
   background-color: black;
   color: #ffffff;
}
.product-content-right-button button:last-child {
   border: 2px solid blue;
   color: #ffffff;
   background-color: blue;
   cursor: pointer;
}
.product-content-right-button button:last-child:hover {
   background-color: black;
   color: #ffffff;
}

.lien {
   display: flex;
   padding-top: 5px;
}
.product-content-right-tlong {
   display: block;
}
.mot {
   width: 50%;
}
.product-content-right-tlong {
   width: 50%;
}
.product-content-right-tlong-ip {
   display: flex;
}
.product-content-right-tlong-ip p {
   padding-left: 10px;
}
@media (max-width:768px) {
   .product-content, .product-content-left {
       display: block;
   }
   .product-content-left, .product-content-right {
       width: 100%;
   }
   .product-content-left-big-img {
       width: 100%;
       margin: 0;
       padding-right: 0;
   }
   .product-content-left-big-img img {
       border-radius: 20px 20px 0 0;
   }
   .product-content-left-small-img {
       display: flex;
       padding-bottom: 20px;
   }
   .product-content-right {
       padding-left: 0;
   }
   .product-content-right-button {
       display: block;
       
   }
   .product-content-right-button button {
       margin: 10px auto !important;
       width: 200px;
       display: flex;
       justify-content: center;
   }
}
@media (max-width:540px) {
   .lien {
       display: block;
   }
   .mot {
       width: 100%;
   }
   .quantity {
      display: block;
   }
}